.form-create {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}

.form-footer {
  color: white;
  font-size: 20px;
  text-align: center;
}

.checkbox-message {
  width: 15px;
  color: white;
  font-size: 12px;
}

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../images/HomePage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 420px) {
  .form {
    width: 100%;
    max-width: 350px;
    row-gap: 15px;
    position: fixed;
    top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .bt-register {
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 14px 20px;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    align-items: center;
    margin: auto;
  }

  .bt-login {
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid white;
  }

  .form-input {
    width: 80%;
    height: 45px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    margin: auto;
    background: white;
  }

  .form-input-disabled {
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    margin: auto;
    background: lightgrey;
    height: 45px;
  }

  .bt-save {
    height: 60px;
    width: 80%;
    max-width: 500px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 20px;
    margin: auto;
  }

  .bt-message-save {
    height: 60px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
  }

  .create-container {
    height: 100%;
    display: flex;
    background-image: url("../images/HomePage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    align-items: flex-start;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: -webkit-fill-available;
  }

  .preview-image {
    max-width: 350px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin-top: 80px;
    background-image: url("../images/contact-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: auto;
  }

  .input-description {
    font-family: Montserrat, sans-serif;
    width: 80%;
    max-width: 500px;
    height: 150px;
    margin: auto;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
  }

  .form-img__file-label {
    display: block;
    width: 80%;
    height: 225px;
    cursor: pointer;
    background-image: url("../images/contact-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 15px;
    border: 2px black solid;
    opacity: 0.8;
  }

  .form-img__img-preview {
    width: 40.5vh;
    height: 220px;
    margin-top: 5px;
    background: white;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    display: none;
  }

  .form-img__img-preview-Hidden {
    display: block;
    width: 40.5vh;
    height: 191px;
    margin-top: 5px;
    background: white;
    object-fit: cover;
    border-radius: 15px;
    opacity: 1;
  }
}

@media only screen and (min-width: 421px) {
  .form-input {
    width: 80%;
    height: 45px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    margin: auto;
    margin-bottom: 25px;
    background: white;
  }

  .form-input-disabled {
    width: 80%;
    max-width: 500px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    margin: auto;
    background: lightgrey;
    height: 45px;
  }

  .bt-register {
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 14px 20px;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    align-items: center;
    margin: auto;
  }

  .bt-message-save {
    height: 60px;
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
  }

  .bt-login {
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid white;
  }
  .bt-save {
    height: 60px;
    width: 80%;
    max-width: 500px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
  }

  label {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin: auto;
  }

  .create-container {
    height: 100%;
    display: flex;
    background-image: url("../images/HomePage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    align-items: flex-start;
  }

  .image-container {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview-image {
    max-width: 350px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin-top: 80px;
    background-image: url("../images/contact-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: auto;
  }

  .input-description {
    font-family: Montserrat, sans-serif;
    height: 150px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
  }

  .form-img__file-label {
    display: block;
    width: 100%;
    height: 225px;
    cursor: pointer;
    background-image: url("../images/contact-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 15px;
    border: 2px black solid;
    opacity: 0.8;
  }

  .form-img__img-preview {
    display: block;
    width: 50vh;
    height: 220px;
    margin-top: 5px;
    background: white;
    object-fit: scale-down;
    border-radius: 15px;
  }

  .form-img__img-preview-Hidden {
    position: absolute;
    width: 50.5vh;
    height: 226px;
    margin-top: 5px;
    background: white;
    object-fit: cover;
    border-radius: 15px;
    opacity: 1;
  }

  .form {
    width: 100%;
    max-width: 350px;
    position: fixed;
    top: 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.form-register {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  margin-top: 290px;
}

hr {
  width: 40%;
  margin: 35px;
  margin-top: 50%;
}

li {
  height: 48px;
  list-style-type: none;
  text-align: left;
  padding-top: 43px;
  width: 200px;
}

h2 {
  font-size: 20px;
  margin-left: 12px;
}

nav {
  margin-right: 9px;
}

.submitContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 25px;
}

.img-Home {
  border: 3px solid black;
  border-radius: 25px;
  width: 80%;
  max-width: 500px;
  margin: auto;
  margin-top: 90px;
}

input ::placeholder {
  font-weight: bolder;
  padding-left: 220px;
  text-align: center;
  font-size: 20px;
}

.bt-container {
  width: 50%;
  font-size: 20px;
  display: flex;
  color: white;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
  margin: auto;
  background-image: none;
  margin-top: 50px;
}

.input-likes {
  display: none;
}

.header {
  position: fixed;
  right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.edit-image {
  width: 160px;
  height: 160px;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
}

.form-penguin-image {
  height: 225px;
  max-width: 300px;
  border: 2px solid;
  border-radius: 15px;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  margin: auto;
  object-fit: cover;
}

.container {
  width: 100%;
  display: flow-root;
  margin: auto;
  height: 100vh;
}

.form-category {
  position: relative;
  top: -140px;
  left: 15px;
  background-color: #ffe02c;
  border-radius: 4px;
  flex: 1;
  margin-bottom: 25px;
  padding-left: 5px;
  box-shadow: 0 3px 6px #666;
  margin-left: 5px;
}

.form-likes {
  text-align: right;
  flex: 3;
  position: relative;
  top: -140px;
  left: -36px;
}

.form-penguin-description {
  width: 89%;
  min-height: 40px;
  position: relative;
  top: -140px;
  left: 18px;
  text-align: justify;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu-header {
  width: 100%;
  margin-top: 30%;
}

.bt-delete {
  background: url("../images/icon-logout1.png");
  height: 65px;
  width: 65px;
  background-size: 60%;
  background-repeat: no-repeat;
}

.bt-sound {
  background: url("../images/icon-sound-on.png");
  height: 65px;
  width: 65px;
  background-size: 60%;
  background-repeat: no-repeat;
}
.bt-sound-off {
  background: url("../images/icon-sound-off.png");
  height: 65px;
  width: 65px;
  background-size: 60%;
  background-repeat: no-repeat;
}

.bt-favs-menu {
  background: url("../images/icon-stars.png");
  width: 65px;
  height: 65px;
  background-size: 60%;
  background-repeat: no-repeat;
}

.bt-back {
  background: url("../images/icon-back.png");
  width: 45px;
  height: 45px;
  margin-left: 10px;
}
.menu-icons-lower {
  display: flex;
  flex-direction: row;
  margin: auto;
  bottom: 20px;
}

.bt-addfav {
  width: 65px;
  height: 65px;
  background: url("../images/icon-add_plus.png");
  background-size: 60%;
  background-repeat: no-repeat;
}

.form-image-container {
  box-shadow: 0 3px 6px #666;
  padding: 10px 10px 150px 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: 100%;
}

.form-penguin-datalist {
  display: flex;
  height: 40px;
}

.for-penguin-title {
  display: flex;
  height: 40px;
}

.form-link,
form-link:visited {
  text-decoration: none;
  width: 100%;
  color: rgb(200, 198, 198);
  margin: auto;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.display-none {
  display: none;
}

.penguin-container {
  display: flex;
  margin-top: 80px;
}

.projectLayout {
  max-width: 90%;
  justify-content: center;
  align-items: center;
  -moz-column-count: 4;
  margin: 1em;
  padding: 1;
  column-gap: 1em;
  font-size: 0.85em;
  transform: translate(40px, 50px);
}

.item {
  display: inline-block;
  background: #fff;
  padding: 0.5em;
  margin: 0 0 1.5em;
  max-height: 55vh;
  -webkit-transition: 0.5s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 10px rgb(140, 134, 134);
  border-radius: 2px 2px 2px 2px;
  flex-wrap: wrap;
}

.item img {
  max-width: 100%;
}

.item:nth-of-type(4n + 1) {
  transform: rotate(2deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 2) {
  transform: rotate(-2deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 3) {
  transform: rotate(2deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 4) {
  transform: rotate(-2deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 5) {
  transform: rotate(2deg);
  transition: all 0.35s;
}

.item:hover {
  transform: rotate(1deg);
}

.imgPreview {
  width: 100px;
  height: 100px;
}

.image-button-add {
  margin-top: 10px;
  height: 60px;
  border: 0;
  background: none;
}

.parent-div {
  width: auto;
  height: 160px;
  margin: auto;
}

.register-parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  top: -360px;
  border: 0;
  width: 100%;
}
.register-parent-div input[type="file"] {
  left: 0;
  top: 0;
  opacity: 0;
  border: 0;
  position: absolute;
  font-size: 20px;
}

.btn-upload {
  width: 45px;
  height: 45px;
  color: #000;
  background: none;
  background-image: url("../images/icon-editar.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  border: 0;
}

.btn-register-upload {
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  background: none;
}

.bt-upload {
  color: black;
  border: 5px solid;
  background-color: white;
}

.form__title {
  margin: 32px 0;
  text-align: center;
  color: #002952;
}

.form__img-input-container {
  position: relative;
  margin: auto;
}

/* this class is used to hide the file input */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Adding the focus and focus-within styles for accessibility */
input.visually-hidden:focus + label,
input.visually-hidden:focus-within + label {
  outline: 8px solid rgba(0, 0, 0, 0.4);
}

/* The file input is a labeled control, and since we hid it, 
we're going to use its associated label to trigger it */

.no-background-image {
  background-image: none;
}

.opacity-mid {
  opacity: 0.8;
}

.opacity-mid:hover {
  opacity: 1;
}

.form-img__file-label:hover {
  background-color: rgba(192, 192, 188, 0.5);
}

.form-img__file-label > img {
  position: relative;
  top: 48%;
  height: 100%;
  width: 100%;
  left: 50%;
  opacity: 0.9;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.form-img__file-label:hover > img {
  opacity: 1;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../images/HomePage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
