@media only screen and (max-width: 420px) {
  .app .header {
    height: 5rem;
    width: 100%;
    background-color: #292929;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-desktop-title3 {
    width: min-content;
    margin: auto;
    animation: titleOpacity 10s infinite;
    font-size: 4em;
    text-align: left;
    position: fixed;
    top: 20%;
  }

  .header-desktop-title {
    text-align: left;
    flex: 4;
    margin-left: 10px;
  }
  .options {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: 20px;
  }
  .penguins-container {
    border-radius: 8px;
    padding: 0 10px 15px;
    margin-top: 95px;
    text-align: center;
    width: 95%;
  }

  .detail-container {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 5.2rem;
    height: 87.4vh;
  }

  .modal-wellcome {
    width: 80%;
    height: -webkit-fill-available;
    max-height: 500px;
    max-width: 500px;
  }

  .messages-container {
    min-height: 100px;
    min-width: 312px;
    margin: auto;
    border: 1px solid;
    border-top: 0;
    border-radius: 0 5px 5px 5px;
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    background: white;
    text-align: justify;
  }

  .message-container {
    display: flex;
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    align-items: center;
  }

  .header-desktop-buttons {
    display: none;
  }

  .devicons-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    margin: auto;
  }

  .devicons-by {
    text-align: left;
    color: blue;
    min-width: 65px;
  }

  .devicons-repo {
    margin-left: 50px;
    margin-right: 10px;
  }

  .header-desktop {
    display: none;
  }

  .devicons-about {
    min-width: 56px;
  }

  .header-title {
    margin: auto;
    flex: 2;
  }

  .header-favs {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-likes {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  button {
    width: initial;
  }
  .header-title-container {
    display: flex;
    justify-content: center;
    height: 78px;
    margin: auto;
    margin-top: 15px;
  }
}

.header-desktop-title1 {
  color: white;
  width: inherit;
  margin: auto;
  margin-left: 20px;
  animation: move 30s infinite;
}

.header-desktop-title2 {
  width: inherit;
  margin: auto;
  margin-left: 10px;
  animation: move2 30s infinite;
}

.header-desktop-title-likes {
  text-align: left;
  margin-top: 10px;
  width: 25%;
  flex: 2;
}
.header-desktop-title-detail {
  text-align: left;
  margin-top: 10px;
  width: 25%;
  flex: 2;
}

.likes {
  width: 75%;
  position: relative;
  left: 28px;
  top: -10px;
  margin-left: 5px;
  padding: 3px;
  display: inline-flex;
  border: 2px solid rgb(6, 6, 6);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  25% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  50% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  100% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  25% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  50% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  100% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  25% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  50% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translateX(0px);
    font-size: 10px;
    color: #292929;
  }
  100% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  25% {
    -webkit-transform: translateX(0px);
    font-size: 14px;
    color: #292929;
  }
  50% {
    -webkit-transform: translateX(-80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translateX(0px);
    font-size: 14px;
    color: #292929;
  }
  100% {
    -webkit-transform: translateX(80%);
    font-size: 12px;
    color: white;
    opacity: 0.8;
  }
}

@-webkit-keyframes titleOpacity {
  0% {
    color: white;
    opacity: 1;
  }
  25% {
    color: white;
    opacity: 0.7;
  }
  50% {
    color: white;
    opacity: 0.5;
  }
  75% {
    color: white;
    opacity: 0.7;
  }
  100% {
    color: white;
    opacity: 1;
  }
}

@keyframes titleOpacity {
  0% {
    color: white;
    opacity: 1;
  }

  25% {
    color: white;
    opacity: 0.5;
  }

  100% {
    color: white;
    opacity: 1;
  }
}

body {
  height: 100vh;
  width: 100%;
  font-family: Nunito, sans-serif;

  margin: auto;
}

.devicons-by {
  text-align: left;
  color: blue;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.menu-animatedEdit {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  margin-top: 45px;
  margin-right: 45px;
  background-position: right;
  display: none;
}

.animatedEdit {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.footer {
  position: fixed;
  top: 90%;
  color: grey;
  text-align: center;
  margin: auto;
  width: 100%;
}

.animatedFavs {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/star-add-32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.animatedLikes {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/icon-likes-empty.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.animatedDelete {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/delete-32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

@media only screen and (min-width: 421px) {
  .app {
    height: 5rem;
    background-color: #292929;
    box-sizing: border-box;
    color: white;
    text-align: center;
    margin: auto;
  }

  .header-desktop-title3 {
    width: min-content;
    margin: auto;
    animation: titleOpacity 10s infinite;
    font-size: 5.5em;
    text-align: left;
    position: fixed;
    top: 20%;
  }

  .options {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
    width: 100%;
    gap: 25px;
    margin-top: 25px;
  }

  .header-desktop-title {
    background: #292929;
    margin: 0;
    padding: 2px;
  }
  .detail-container {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    height: 87.4vh;
  }

  .penguins-container {
    border-radius: 8px;
    padding: 0 10px 15px;
    margin-top: 75px;
    text-align: center;
    width: 95%;
  }

  .modal-help {
    width: 80%;
    height: 200px;
    max-height: 500px;
    max-width: 500px;
  }
  .search-container {
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
  }

  .messages-container {
    min-width: 120px;
    min-height: 100px;
    margin: auto;
    border: 1px solid;
    border-top: 0;
    border-radius: 0 5px 5px 5px;
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    background: white;
    text-align: justify;
  }

  .message-read {
    width: 8px;
    height: 8px;
    background-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #2fc925;
    box-shadow: 1px 1px 2px black;
  }

  .message-container {
    display: flex;

    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    align-items: center;
  }

  .prompt-container {
    display: flex;
    height: 300px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    flex-direction: column;
  }

  .search-input :hover {
    cursor: pointer;
  }

  .search-input ::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .search-input ::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }

  .search-input {
    position: absolute;
    margin: auto;
    top: 5px;
    right: 10px;

    height: 30px;
    outline: none;
    border: none;
    /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background: rgb(255, 255, 255);
    color: rgb(87, 85, 85);
    padding: 0 40px 0 10px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
  }

  .search-input:hover {
    cursor: pointer;
  }

  .search-input :focus {
    width: 180px;
    opacity: 1;
    cursor: text;
  }

  .search-input :focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }

  .search-input ::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }

  .header-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292929;
    color: white;
    height: 5rem;
  }

  .header-title-container {
    height: 78px;
    margin: auto;
  }

  .about-icon {
    margin-left: -40px;
  }

  .desktop-bt-help {
    top: 10;
    background: url("../images/help-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    border: 0;
  }

  .desktop-bt-search {
    background: url("../images/icon-search-white-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    border: 0;
    margin-top: -2px;
  }

  .desktop-bt-search-submit {
    background: url("../images/icon-search-black-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    border: 0;
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    top: 11px;
    right: 6px;
  }

  .desktop-bt-menu {
    top: 10px;
    background: url("../images/icon-menu-hamb45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    border: 0;
  }

  .desktop-bt-logout {
    height: 25px;
    background: url("../images/icon-menu-logout45.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    border: 0;
  }

  .header-favs {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-home {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-likes {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header {
    display: none;
  }

  .header-desktop-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    color: white;
    margin-top: 15px;
  }

  .devicons-container {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
    font-size: 14px;
  }
}

.messages-title {
  text-align: left;
}

.bt-help {
  background: url("../images/help-45.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;

  border: 0;
}

.header-favs-icon {
  background: url("../images/icon-star_full.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
  width: 50px;
  height: 50px;
  flex: 3;
}

.header-likes-icon {
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
  width: 50px;
  height: 50px;
  flex: 3;
}

.header-home-icon {
  background: url("../images/icon-home.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
  width: 50px;
  height: 50px;
  flex: 3;
}

.header-wellcome {
  position: fixed;
  top: 15%;
  color: white;
  align-items: center;
  display: flex;
  width: 100%;
  height: 75px;
  text-align: center;
}

.header-edit-icon {
  background: url("../images/icon-editar.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
  width: 45px;
  height: 45px;
  flex: 3;
}

.header-new-icon {
  background: url("../images/icon-add_plus.png");
  background-repeat: no-repeat;

  background-position: right;
  background-size: 35px;
  width: 45px;
  height: 45px;
  flex: 3;
}

.header-detail-icon {
  background: url("../images/icon-editar.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px;
  width: 45px;
  height: 45px;
  flex: 3;
}

.app {
  width: -webkit-fill-available;

  position: fixed;
  top: 0;
  z-index: 100;
}

.header .menu-btn {
  font-size: 1.75rem;
  cursor: pointer;
  border: 0;
  position: fixed;
  right: 5px;
}

/* ------------------------------------------  */

button {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 10px;
  align-items: baseline;
}

.login-container {
  width: 100%;
  display: flow-root;
}

.register-container {
  width: 100%;
  display: flow-root;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;

  background-image: url("../images/HomePage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-hr-horizontal {
  width: 85%;
  margin-left: 25px;
}

.menu-hr-photo {
  width: 150px;
  margin-top: 112px;
  margin-bottom: 15px;
  margin-left: 60px;
}

.user-username {
  margin: auto;
  margin-top: 50px;
  margin-left: 10px;
}

.about-icon {
  width: 25px;
  height: 25px;
  margin-left: -40px;
}

.search-input {
  margin: auto;
  width: 180px;
}

.menu-search-input {
  width: 180px;
  height: 30px;
  margin: auto;
  outline: none;
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(87, 85, 85);
  padding: 0 40px 0 10px;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
}

.menu-bt-search-submit {
  background: url("../images/icon-search-black-45.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  margin-top: -2px;
  opacity: 0;
  position: relative;
  top: 15px;
  left: -40px;
}
.menu-search-container {
  margin-left: 35px;
  margin-bottom: 15px;
}

.view-list-counter {
  margin-top: -10px;
  text-align: right;
  font-size: 0.9rem;
  font-weight: normal;
  margin-right: 20px;
}
.user-photo {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.user-data-container {
  display: flex;
  justify-content: left;
  margin-top: 15px;
  height: fit-content;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 35px;
  position: fixed;
  gap: 40px;
  height: 1vw;
}

.menu-header {
  width: inherit;
}

.menu-icons-horizontal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 0;
}

.menu-icons-vertical {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
  position: relative;
  top: -18px;
}

.menu-icons-vertical li {
  margin-top: 30px;
}

.menu-horizontal {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.menu-btn {
  background: url("../images/icon-menu-hamb45.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  margin-right: 20px;
  border: 0;
}

.bt-back {
  background: url("../images/icon-menu-back45.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 50px;
  position: fixed;
  left: 10px;
}

.bt-logout {
  background: url("../images/icon-menu-logout45.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px;
  border: 0;
}

.modal-body {
  height: max-content;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-btn-accept {
  width: 40%;
  height: 50px;
  background: url("../images/modal-accept-32.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(29, 29, 29);
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-cancel {
  width: 40%;
  height: 50px;
  background: url("../images/modal-cancel-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  border: 0;
  right: 5px;
  background: url("../images/modal-cancel-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: rgb(29, 29, 29);
  font-size: 20px;
  align-items: center;
}

.label-login {
  visibility: hidden;
  display: none;
}

.bt-addfav {
  background: url("../images/icon-menu-addFav45.png");
  height: 45px;
  width: 190px;
  background-repeat: no-repeat;
  text-align: left;
  border: 0;
}

.bt-home {
  height: 45px;
  width: 190px;
  background: url("../images/icon-menu-home45.png");
  background-repeat: no-repeat;
  text-align: left;
  border: 0;
}

.bt-about {
  background: url("../images/about-45.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  border: 0;
}

.desktop-bt-about {
  height: 25px;
  background: url("../images/about-45.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  margin-left: 10px;
}

.bt-favs {
  background: url("../images/icon-star_full.png");
  height: 45px;
  width: 190px;
  background-repeat: no-repeat;
  text-align: left;
  border: 0;
}

.bt-likes {
  height: 45px;
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  width: 190px;
  text-align: left;
  border: 0;
}

.bt-search {
  background: url("../images/icon-search-white-45.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  text-align: left;
  border: 0;
}

.header .nav {
  display: flex;
  gap: 1rem;
  background-color: #292929;
}

.menu-icon-label-vertical {
  font-size: 1.2rem;
  color: white;
  margin-left: 70px;
}

.display-none {
  display: none;
}
/* ------------------------------------------------------------  */

.app .body {
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .body button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.devicons-year {
  text-align: right;
}

.devicons-about {
  font-size: 12px;
  text-align: left;
  margin-right: 15px;
}

.modal {
  text-align: center;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  min-width: 20rem;
  min-height: 10rem;
  background-color: white;
  border-radius: 10px;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.overflowY-auto {
  overflow-y: auto;
}

.overflowY-none {
  overflow-y: unset;
}

.overflow-auto {
  overflow: auto;
}

.modal-header {
  border-radius: 10px 10px 0 0;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.modal-title {
  color: white;
  font-size: 1.2em;
  margin: 15px;
}

.modal .modal-header h2 {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.4rem;
  cursor: pointer;
}

.message-header {
  display: inline-flex;
  width: 60%;
  justify-content: space-around;
}

.message-content {
  text-align: justify;
  font-size: 14px;
  margin: auto;
  width: 90%;
  color: black;
}

.modal-message {
  width: 100%;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.menu-app {
  color: white;
  height: 100%;
  width: 20rem;
  background-color: #292929;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: wrap;
}

.menu-open {
  transform: translateX(0%);
  z-index: 200;
}

.desktop-btn {
  width: 20%;
  border: 1px solid #292929;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background: none;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.desktop-btn:hover {
  background-color: #3c3c3c;
  font-size: 1.1rem;
  border-radius: 15px;
  border: 1px solid rgb(248, 248, 248);
}

.desktop-hr {
  height: 10px;
  margin-left: 75%;
}

.selected {
  background-color: #292929;
  font-size: 1.1rem;
  border-radius: 15px;
  border: 1px solid white;
}

.opacity-full {
  opacity: 1;
}

.opacity-none {
  opacity: 0;
}

.nav {
  background-color: #292929;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.new-messages-counter {
  width: 20px;
  padding: 2px;
  border: 2px solid rgb(91, 193, 94);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  position: relative;
  left: 30px;
  top: -10px;
  display: inline-flex;
}
