@media only screen and (max-width: 420px) {
  .app .header {
    height: 5rem;
    width: 100%;
    background-color: #292929;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-desktop-buttons {
    display: none;
  }

  .devicons-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    margin: auto;
  }

  .devicons-by {
    text-align: left;
    color: blue;
    min-width: 65px;
  }

  .devicons-repo {
    margin-left: 50px;
    margin-right: 10px;
  }

  .header-desktop {
    display: none;
  }

  .devicons-about {
    min-width: 56px;
  }

  .header-title {
    margin: auto;
    flex: 2;
  }

  .header-favs {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-likes {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  button {
    width: initial;
  }
}

body {
  background-image: url("../images/background2Heart.png");
  font-family: Roboto, sans-serif;
  margin: 0;
  width: -webkit-fill-available;
}

.devicons-by {
  text-align: left;
  color: blue;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.menu-animatedEdit {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  margin-top: 45px;
  margin-right: 45px;
  background-position: right;
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.animatedEdit {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.animatedFavs {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/fav-add-32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.animatedLikes {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/icon-likes-empty.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.animatedDelete {
  width: auto;
  height: 32px;
  border: none;
  background: url("../images/delete-32.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

@media only screen and (min-width: 421px) {
  .search-container {
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
  }

  .search-input :hover {
    cursor: pointer;
  }
  .search-input ::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .search-input ::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }

  .search-input {
    position: absolute;
    margin: auto;
    top: -30px;
    right: 10px;
    bottom: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background: rgb(255, 255, 255);
    color: rgb(87, 85, 85);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;

    letter-spacing: 0.1em;
  }

  .search-input:hover {
    cursor: pointer;
  }

  .search-input :focus {
    width: 100px;
    opacity: 1;
    cursor: text;
  }

  .search-input :focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  .search-input ::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .search-input ::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }

  .search-input ::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }

  .header-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292929;
    color: white;
    height: 5rem;
  }

  .about-icon {
    margin-left: -40px;
  }

  .desktop-bt-help {
    top: 10;
    background: url("../images/help-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    border: 0;
  }

  .desktop-bt-search {
    background: url("../images/icon-search-white-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    border: 0;
    margin-top: -2px;
  }

  .desktop-bt-search-submit {
    background: url("../images/icon-search-black-45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    border: 0;
    margin-top: -2px;
    opacity: 0;
    position: absolute;
    top: 11px;
    right: 6px;
  }

  .desktop-bt-menu {
    top: 10px;
    background: url("../images/icon-menu-hamb45.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    border: 0;
  }

  .desktop-bt-logout {
    height: 25px;
    background: url("../images/icon-menu-logout45.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    border: 0;
  }

  .header-favs {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-home {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header-likes {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto;
    color: white;
  }

  .header {
    display: none;
  }

  .header-desktop-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    color: white;
  }

  .devicons-container {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
    font-size: 14px;
  }
}

.bt-help {
  background: url("../images/help-45.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  border: 0;
}

.header-favs-icon {
  background: url("../images/icon-star_full.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  display: none;
}

.header-likes-icon {
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  display: none;
}

.header-home-icon {
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  display: none;
}

.app {
  width: -webkit-fill-available;

  position: fixed;
  top: 0;
  z-index: 100;
}

.header .menu-btn {
  font-size: 1.75rem;
  cursor: pointer;
  border: 0;
  position: fixed;
  right: 5px;
}

/* ------------------------------------------  */

button {
  width: 45px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

ul {
  list-style: none;
  margin: 10px;
  align-items: baseline;
}

.login-container {
  width: 100%;
  display: flow-root;
  margin-top: 90px;
}

.register-container {
  width: 100%;
  display: flow-root;
  margin-top: 90px;
}

.hr-menu-horizontal {
  width: 85%;
  margin-left: 25px;
  margin-bottom: 20px;
}

.hr-photo {
  width: 150px;
  margin-top: 10px;
}

.user-username {
  margin-left: 10px;
  margin-top: auto;
}

.bt-search {
  background: url("../images/icon-search-white-45.png");
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  border: 0;
}

.about-icon {
  width: 25px;
  height: 25px;
  margin-left: -40px;
}

.search-input {
  margin: auto;
  width: 150px;
}

.menu-search-input {
  width: 50%;
  height: 30px;
  margin: auto;
  outline: none;
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(87, 85, 85);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
  letter-spacing: 0.1em;
}

.menu-bt-search-submit {
  background: url("../images/icon-search-black-45.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  border: 0;
  margin-top: -2px;
  opacity: 0;
  position: relative;
  top: -29px;
  left: 78%;
}

.search-title {
  margin-top: -10px;
}
.user-photo {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.user-data-container {
  display: flex;
  justify-content: left;
  margin-top: 15px;
}

.menu-header {
  width: inherit;
}

.menu-icons-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0;

  width: 100%;
}

.menu-icons-vertical {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
}

.menu-icons-vertical li {
  margin-top: 30px;
}

.menu-horizontal {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-btn {
  background: url("../images/icon-menu-hamb45.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  margin-right: 20px;
  border: 0;
}

.bt-back {
  background: url("../images/icon-menu-back45.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 45px;
  border: 0;
  position: fixed;
  margin-top: 8px;
  margin-left: 20px;
}

.bt-logout {
  background: url("../images/icon-menu-logout45.png");
  background-repeat: no-repeat;
  height: 45px;
  border: 0;
}

.modal-body {
  height: max-content;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-btn-accept {
  width: 40%;
  height: 50px;
  background: url("../images/modal-accept-32.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(29, 29, 29);
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-cancel {
  width: 40%;
  height: 50px;
  background: url("../images/modal-cancel-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  border: 0;
  right: 5px;
  background: url("../images/modal-cancel-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: rgb(29, 29, 29);
  font-size: 20px;
  align-items: center;
}

.label-login {
  visibility: hidden;
  display: none;
}

.bt-addfav {
  background: url("../images/icon-menu-addFav45.png");
  height: 45px;
  border: 0;
}

.bt-home {
  background: url("../images/icon-menu-home45.png");
  height: 45px;
  border: 0;
}

.bt-about {
  background: url("../images/about-45.png");
  height: 45px;
  border: 0;
}

.desktop-bt-about {
  height: 25px;
  background: url("../images/about-45.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  margin-left: 10px;
}

.bt-favs {
  background: url("../images/icon-star_full.png");
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.bt-likes {
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 45px;
  border: 0;
}

.header .nav {
  display: flex;
  gap: 1rem;
}

.menu-icons-vertical h3 {
  position: relative;
  color: white;
  font-size: 1.2rem;
  left: 70px;
}

.display-none {
  display: none;
}
/* ------------------------------------------------------------  */

.app .body {
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .body button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.devicons-year {
  text-align: right;
}

.devicons-about {
  font-size: 12px;
  text-align: left;
  margin-right: 15px;
}

.modal {
  text-align: center;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  min-width: 20rem;
  min-height: 10rem;
  background-color: white;
  border-radius: 10px;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.overflowY-auto {
  overflow-y: auto;
}
.overflowY-none {
  overflow-y: unset;
}

.modal-wellcome {
  width: 80%;
  height: auto;
  max-width: 500px;
}

.modal .modal-header {
  border-radius: 10px 10px 0 0;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.modal-title {
  color: white;
  font-size: 1.2em;
  margin: 15px;
}

.modal .modal-header h2 {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.4rem;
  cursor: pointer;
}

.message-container {
  text-align: center;
  font-size: 14px;
  margin: auto;
  width: 90%;
  margin-top: 20px;
}

.message-content {
  text-align: justify;
  font-size: 14px;
  margin: auto;
  width: 90%;
}

.modal-message {
  height: -webkit-fill-available;
  width: 100%;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.menu-app {
  color: white;
  height: 100%;
  width: 20rem;
  background-color: #292929;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: wrap;
}

.menu-open {
  transform: translateX(0%);
  z-index: 200;
}

.desktop-btn {
  width: 20%;
  border: 1px solid #292929;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background: none;
  height: 30px;
  margin-bottom: 5px;
}

.desktop-btn:hover {
  background-color: #3c3c3c;
  font-size: 1.1rem;
  border-radius: 15px;
  border: 1px solid rgb(248, 248, 248);
}

.desktop-hr {
  height: 10px;
  margin-left: 75%;
}

.selected {
  background-color: #292929;
  font-size: 1.1rem;
  border-radius: 15px;
  border: 1px solid white;
}

.opacity-full {
  opacity: 1;
}
