@media only screen and (max-width: 420px) {
  .app .header {
    height: 5rem;
    width: 100%;
    background-color: #292929;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .devicons-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
    font-size: 12px;
  }

  .devicons-by {
    text-align: center;
    color: blue;
    flex: 3;
  }

  .desktop-header {
    display: none;
  }

  .header-title {
    margin: auto;
    flex: 2;
  }

  .header-favs {
    display: flex;
    align-items: center;
    background: url("../images/icon-star_full.png");
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292929;
    margin: auto;
    color: white;
  }

  .header-likes {
    display: flex;
    align-items: center;
    background: url("../images/menu-favs.png");
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292929;
    margin: auto;
    color: white;
  }

  button {
    width: initial;
  }
}

body {
  background-image: url("../images/background2Heart.png");
  font-family: Roboto, sans-serif;
  margin: 0;
}

.devicons-by {
  text-align: center;
  color: blue;
  flex: 1;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.menu-animatedEdit {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  margin-top: 45px;
  margin-right: 45px;
  background-position: right;
  display: none;
}

@media only screen and (min-width: 421px) {
  .header {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    color: white;
    height: 5rem;
    border: 1px solid black;
  }

  .header-title {
    flex: none;
  }

  .desktop-header-buttons {
    width: 100%;
    display: flex;
    background-color: #292929;
    color: white;
  }
  .desktop-header-title {
    display: flex;
    margin: auto;
  }

  .header-favs {
    display: none;
  }

  .header-likes {
    display: none;
  }

  .detail-image {
    min-width: 50%;
    min-height: 390px;
  }
}

.app {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header .menu-btn {
  font-size: 1.75rem;
  cursor: pointer;
}

/* ------------------------------------------  */

button {
  width: 45px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
}

img {
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 10px;
  align-items: baseline;
}

.login-container {
  width: 100%;
  display: flow-root;
  margin-top: 155px;
}

.hr-menu-horizontal {
  width: 75%;
  margin-left: 25px;
}

.hr-photo {
  width: 214px;
  margin-bottom: 45px;
}

.user-username {
  margin-left: 10px;
  margin-top: auto;
}

.bt-search {
  background: url("../images/icon-search-45.png");
  background-repeat: no-repeat;
  margin: auto;
  height: 45px;
  visibility: hidden;
}

.search-input {
  margin: auto;
  width: 80%;
}

.user-photo {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.user-data-container {
  display: flex;
  justify-content: left;

  margin-top: 15px;
}

.menu-header {
  width: inherit;
}

.menu-icons-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
}

.menu-icons-vertical {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
}

.menu-icons-vertical li {
  margin-top: 30px;
}

.menu-header-vertical {
  display: inline;
  float: left;
  text-align: left;

  margin: auto;
}

.menu-header-horizontal {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.menu-btn {
  background: url("../images/icon-menu-hamb45.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  margin-right: 40px;
}

.bt-back {
  background: url("../images/icon-menu-back45.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  margin: auto;
}

.bt-logout {
  background: url("../images/icon-menu-logout45.png");
  background-repeat: no-repeat;
  height: 45px;
}

.desktop-bt-logout {
  background: url("../images/icon-menu-logout45.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.modal-body {
  height: max-content;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-btn-accept {
  width: 40%;
  height: 50px;
  background: url("../images/modal-accept-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-cancel {
  width: 40%;
  height: 50px;
  background: url("../images/modal-cancel-32.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  flex: none;
  margin: auto;
}

.modal-btn-close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 5px;
  background: url("../images/modal-cancel-32.png");
  background-color: rgb(29, 29, 29);
  font-size: 20px;
  align-items: center;
}

.devicons-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 20px;
  align-items: center;
  font-size: 14px;
}

.bt-sound {
  background: url("../images/icon-sound-on.png");
  background-repeat: no-repeat;
  margin: auto;
  height: 45px;
  opacity: 50%;
}

.sound-on {
  visibility: hidden;
}
.bt-sound-off {
  background: url("../images/icon-sound-off.png");
}

.sound-off {
  visibility: hidden;
  display: none;
}
.label-login {
  visibility: hidden;
  display: none;
}
.bt-addfav {
  background: url("../images/icon-menu-addFav45.png");
  height: 45px;
}

.bt-home {
  background: url("../images/icon-menu-home45.png");
  height: 45px;
}

.bt-favs {
  background: url("../images/icon-star_full.png");
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.bt-likes {
  background: url("../images/menu-favs.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 45px;
}

.header .nav {
  display: flex;
  gap: 1rem;
}

.menu-icons-vertical h3 {
  position: relative;
  color: white;
  font-size: 1.2rem;
  left: 70px;
}
.display-none {
  display: none;
}
/* ------------------------------------------------------------  */

.app .body {
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .body button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.devicons-year {
  text-align: right;
  margin-right: 15px;
  width: 150px;
}
.devicons-about {
  text-align: left;
  margin-right: 15px;
}

.modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  min-width: 20rem;
  min-height: 10rem;
  background-color: white;
  border-radius: 10px;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.modal-wellcome {
  width: 80%;
  height: 75%;
}

.modal .modal-header {
  border-radius: 10px 10px 0 0;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.modal-title {
  color: white;
  font-size: 1.2em;
  margin: 15px;
}

.modal .modal-header h2 {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.4rem;
  cursor: pointer;
}

.message-container {
  font-size: 14px;
  margin: auto;
  width: 90%;
}
.modal-message {
  height: -webkit-fill-available;
  width: 100%;
  font-size: 16px;
  color: black;
  text-align: center;

  margin: auto;
  margin-top: 30px;
}

.app-menu {
  color: white;
  height: 100%;
  width: 20rem;
  background-color: #292929;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: wrap;
}

.menu-open {
  transform: translateX(0%);
  z-index: 200;
}

.desktop-btn {
  width: 20%;
  border: 1px solid #292929;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  background: none;
  height: 30px;
}

.desktop-hr {
  height: 10px;
  margin-left: 75%;
}

.selected {
  color: coral;
  background-color: #292929;
  font-size: 0.95rem;
}
