body {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: Montserrat, sans-serif;
}

.footer-home {
  color: lightgrey;
  position: fixed;
  bottom: 20px;
}

.penguin-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 14px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 40vh;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-radius: 15px;
  align-items: center;
  margin: auto;
}

.notify-counter {
  height: 30px;
  width: 30px;
  padding: 2px;
  color: white;
  font-size: 16px;
  background-color: rgb(241, 14, 14);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
  top: -20px;
  display: inline-flex;
}

.footer {
  margin-top: 20px;
}

.message-buttons {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}

.message-new {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 220px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 10px;
  text-align: left;
  flex: 2;
}

@media only screen and (min-width: 421px) {
  .penguin-description {
    font-size: 14px;
  }
  .penguins-container {
    border-radius: 8px;
    padding: 0 10px 15px;
    text-align: center;
    width: 95%;
    height: auto;
  }

  .title-big {
    height: 300px;
    max-width: 415px;
    margin: auto;
    position: fixed;
    top: 15%;
    font-weight: bolder;
    background-color: transparent;
    font-size: 4em;
    text-align: justify;
    animation: titleOpacity 10s infinite;
    font-family: Montserrat, sans-serif;
    border: 0;
  }

  .bt-container {
    width: 100%;
    max-width: 450px;
    margin: auto;
    position: fixed;
    bottom: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    column-gap: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .penguins-container {
    width: 95%;
    border-radius: 8px;
    padding: 0 10px 15px;
    margin-top: 40px;
    text-align: center;
  }

  .title-big {
    font-family: Montserrat, sans-serif;
    height: 240px;
    width: 331px;
    margin: auto;
    position: fixed;
    top: 20%;
    font-weight: bolder;
    background-color: transparent;
    font-size: 3.2em;
    text-align: justify;
    animation: titleOpacity 10s infinite;
    border: 0;
  }
  .bt-container {
    width: 75%;
    margin: auto;
    position: fixed;
    bottom: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    column-gap: 30px;
  }
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  border: 0;
  display: flex;
  justify-content: center;
  background-image: url("../images/HomePage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

hr {
  width: 40%;
  margin: 35px;
  margin-top: 5px;
}

li {
  height: 48px;
  list-style-type: none;
  text-align: left;
  padding-top: 43px;
  width: 200px;
}

h2 {
  font-size: 16px;
  text-align: center;
}

.Toastify__toast-body {
  text-align: center;
}

.penguin-image {
  height: 220px;
  width: 100%;
  min-width: 320px;
  background: url("../images/contact-photo-add.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  margin: auto;
  object-fit: cover;
}

.category {
  height: fit-content;
  border-radius: 15px;
  font-size: 15px;
  background-color: lightgrey;
  padding: 5px 10px 5px 10px;
}

.likes {
  width: 30px;
  height: 30px;
  position: relative;
  top: -15px;
  left: -5px;
  color: white;
  padding: 2px;
  display: inline-flex;
  background-color: rgb(241, 14, 14);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.new-messages-counter {
  width: 30px;
  height: 30px;
  position: relative;
  top: -15px;
  left: -10px;
  color: white;
  padding: 2px;
  display: inline-flex;
  background-color: rgb(241, 14, 14);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.penguin-name {
  font-size: 1.2rem;
  width: 80%;
  height: 30px;
  text-align: left;
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedLike {
  background: none;
  background-image: url("../images/like-full.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
}

.animatedLikeInit {
  background: none;
  background-image: url("../images/like-add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: 0;
}
.penguin-description {
  width: 95%;
  min-height: 40px;
  margin: auto;
  margin-top: 20px;
  text-align: justify;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu-header {
  width: 100%;
}

.detail-container {
  width: 100%;
}

.img-Home {
  border: 3px solid black;
  border-radius: 25px;
  width: 80%;
  max-width: 400px;

  margin-top: 90px;
}

.bt-back {
  background: url("../images/detailPrev.png");
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border: 0;
}

.menu-icons-lower {
  display: flex;
  flex-direction: row;
  bottom: 20px;
}

.bt-message-new {
  cursor: pointer;
  background: url("../images/mail-full.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  flex: 1;
}

.bt-message-got {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background: url("../images/mail-empty.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
}

.penguin-image-container {
  height: 210px;
  width: 100%;
  display: flex;
  border-radius: 5px 5px 5px 5px;
}

.penguin-image-detail {
  min-height: auto;
  min-width: 200px;
  box-shadow: 0 3px 6px #666;
  padding: 10px 10px 100px 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

.image-delete {
  width: 100%;
  position: relative;
  top: -140px;
  right: -14px;
  display: flex;
  justify-content: flex-end;
}

.penguin-container {
  max-width: 378px;
  height: 440px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  padding: 0.5em;
  border-radius: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  background: #fff;
  -webkit-transition: 0.5s;
}

.penguin-datalist {
  width: 100%;
  text-align: left;
  margin: auto;
  margin-top: 15px;
}

.bt-addlike {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 0;
  background: url("../images/like-full.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bt-dellike {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 0;
  background: url("../images/like-add.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header-wellcome {
  display: none;
}

.link {
  width: 100%;
  color: grey;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.display-none {
  display: none;
}

.projectLayout {
  max-width: 90%;
  justify-content: center;
  align-items: center;
  -moz-column-count: 4;
  margin: 1em;
  padding: 1;
  column-gap: 1em;
  font-size: 0.85em;
  transform: translate(40px, 50px);
}

.bt-delfav {
  cursor: pointer;
  background: none;
  background-image: url("../images/fav-full.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border: 0;
  flex: 2;
}

.animatedDelete {
  height: 35px;
  width: 80%;
  border: none;
  background: url("../images/delete.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.animatedEdit {
  width: 30px;
  height: 30px;
  background: url("../images/edit.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border: 0;
  margin: auto;
  margin-right: 10px;
}

.bt-Edit {
  width: 20%;
  height: 45px;
  background: url("../images/edit.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border: 0;
  margin: auto;
  cursor: pointer;
}

.no-visible {
  visibility: hidden;
}

.buttons-container {
  width: 95%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.edit-buttons-container {
  height: 30px;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  margin: auto;
}

.disapear {
  -webkit-animation-name: disapear;
  animation-name: disapear;
}

.bounce2 {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  margin: auto;
}
